<h1>Lista de clientes</h1>

<a class="btn btn-primary mb-2" href="/cliente/cadastrar">
    <i class="fa-solid fa-plus"></i>
    Cadastrar
</a>

<form action="/cliente" method="get">
    <div class="row">
        <div class="col">
            <label class="form-label" for="campo-pesquisa">Pesquisa</label>
            <input type="text" name="pesquisa" id="campo-pesquisa" value="@ViewBag.Pesquisa"/>
        </div>
    </div> 
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Endereço</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in ViewBag.Clientes)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Cpf</td>
                <td>@cliente.Endereco.Estado - @cliente.Endereco.Cidade</td>
                <td>
                    <a class="btn btn-outline-primary" href="/cliente/editar?id=@cliente.Id">
                        <i class="fa-solid fa-pencil"></i>
                        Editar
                    </a>
                    <a class="btn btn-outline-danger" href="/cliente/apagar?id=@cliente.Id">
                        <i class="fa-regular fa-trash-can"></i>
                        Apagar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>